@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

li {
  list-style: none;
}

.nav-container {
  background: #24292e;
}

.nav-container .nav-inner-container {
  width: 98%;
  margin: auto;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-container .nav-inner-container .nav-left {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-container .nav-inner-container .nav-left input {
  display: none;
}

.nav-container .nav-inner-container .nav-left ul {
  display: none;
}

.nav-container .nav-inner-container .nav-left ul li {
  margin-left: 0.2rem;
}

.nav-container .nav-inner-container .nav-right .bell {
  width: 24px;
}

.nav-container .nav-inner-container .nav-right .plus {
  display: none;
}

.nav-container .nav-inner-container .nav-right .avatar {
  display: none;
}

.section-body {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.section-body .left-pane-container .dp-container {
  padding-top: 1rem;
  margin-bottom: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-body .left-pane-container .dp-container .body-avatar {
  border-radius: 50%;
  margin-right: 1rem;
  background-color: none;
  border: 1px solid #ebedef;
  padding: 50px;
  height: 10px;
  display: unset;
}

.section-body .left-pane-container .dp-container .avatar-name h1 {
  font-size: 2rem;
}

.section-body .left-pane-container .dp-container .avatar-name p {
  color: #6a6b6d;
  font-size: 1.5rem;
}

.section-body .left-pane-container .focus-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  outline: none;
  border: 1px solid #ebedef;
  background: transparent;
}

.section-body .left-pane-container .focus-btn .focus-span {
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.section-body .left-pane-container .open-to-learn {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

.section-body .left-pane-container .edit-btn {
  width: 100%;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  background: #fbfcfd;
  font-size: 1.2rem;
  outline: none;
  border: 1px solid #ebedef;
}

.section-body .left-pane-container .profile-details-container .portfolio-link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.section-body .left-pane-container .profile-details-container .portfolio-link-container a {
  margin-left: 0.3rem;
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
}

.section-body .left-pane-container .profile-details-container .follow-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 230px;
  font-size: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-body .left-pane-container .profile-details-container .follow-container .star-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-body .left-pane-container .profile-details-container .follow-container .star-container img {
  margin-right: 0.2rem;
}

.section-body .left-pane-container .profile-details-container .achievement-container {
  border-top: 1px solid #ebedef;
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.section-body .left-pane-container .profile-details-container .achievement-container ul {
  display: none;
}

.section-body .left-pane-container .profile-details-container .achievement-container .acheivement-logo {
  padding-top: 2rem;
}

.section-body .right-pane-container .right-pane-inner-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-body .right-pane-container .right-pane-inner-container ul li {
  font-size: 1.3rem;
}

.section-body .right-pane-container .right-pane-inner-container .repo-header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #ebedef;
  padding-bottom: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-body .right-pane-container .right-pane-inner-container .repo-header-container .repo-search-container {
  padding-top: 2rem;
  padding-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.section-body .right-pane-container .right-pane-inner-container .repo-header-container .repo-search-container button {
  padding: 8px;
  border-radius: 8px;
  color: white;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  border: none;
  background-color: #2ea44f;
}

.section-body .right-pane-container .right-pane-inner-container .repo-header-container .repo-search-container input {
  border-radius: 8px;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  background: transparent;
  border: 1px solid #ebedef;
  padding: 8px;
}

.section-body .right-pane-container .right-pane-inner-container .repo-header-container .repo-btns-container button {
  font-size: 1.1rem;
  border-radius: 8px;
  cursor: pointer;
  background: #fbfcfd;
  font-size: 1.2rem;
  border: 1px solid #ebedef;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 25px;
  padding-left: 25px;
}

.section-body .right-pane-container .right-pane-inner-container .list-repo-container {
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  padding-top: 3rem;
  border-bottom: 1px solid #ebedef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-body .right-pane-container .right-pane-inner-container .list-repo-container .list-repo-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-body .right-pane-container .right-pane-inner-container .list-repo-container .list-repo-name h1 {
  padding-bottom: 1rem;
  color: #5466d6;
}

.section-body .right-pane-container .right-pane-inner-container .list-repo-container .list-repo-name .repo-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-body .right-pane-container .right-pane-inner-container .list-repo-container .list-repo-name .repo-name p {
  margin-right: 1rem;
}

.section-body .right-pane-container .right-pane-inner-container .list-repo-container .list-repo-activity button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  background: #fbfcfd;
  border: 1px solid #ebedef;
  padding-top: 4px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1rem;
}

.section-body .right-pane-container .right-pane-inner-container .list-repo-container .list-repo-activity button .repo-star {
  margin-right: 0.2rem;
}

.section-body .right-pane-container .right-pane-inner-container .list-repo-container .list-repo-activity .graph {
  display: none;
}
/*# sourceMappingURL=style.css.map */